:root{
  background-color: rgb(25, 31, 19);
  
}
.definitionchoose{
  border: rgb(32, 2, 46) 2px solid;
 text-align: center;
  font-size:2rem;
 }
 .inputfield{
     margin-top: 5px;
     margin-bottom:10px;
     
 }
 .TransactionsWrapper{
  padding:10px;
  text-align: center;
  margin-top:1%;
  background-color: cadetblue;
}
.table td{
  border: 3px solid orange;
}
.table th{
  border: 3px solid orange;
}

.sum{
  margin-top: 2%;
}